---
import { CollectionEntry, getCollection } from 'astro:content';
import HandsOn from '../../layouts/HandsOn.astro';

export async function gethandsOnDocs() {
  const docs = await getCollection('handson');
  return docs.map(doc => ({
    params: { slug: doc.slug },
    props: doc,
  }));
}

type Props = CollectionEntry<'handson'>;

const doc = Astro.props;
const { Content } = await doc.render();
---

<HandsOn {...doc.data}>
  <h1>{doc.data.title}</h1>
  <Content />
</HandsOn>
